*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --grey: #838383;
    --spotify: #D2F2DB ;
    --lyft: #D0E1EE;
--amazon: #EFCFE4;
--mcdonalds: #D2F2DB;
}

body{

    height: 100%;
    width: 100%;
    background: var(--white);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Euclid Circular A";
}

/* img {
    object-position: center;
    object-fit: cover;
  } */
li{
    list-style-type: none;
}
a{
    text-decoration: none;

}

/* holo navigation bar */
  nav{
    height: 100px;
    width: 100%;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);

  }

  nav .nav_container{
    height: 100px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr;
grid-gap: 40px;
  }
/* holo logo styling */
  nav .logo{
 
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
    
  }

  nav .logo .image_wrapper{
    height: 18px;
    width: 80px;
  }

  nav .logo .image_wrapper img{
    width: 100%;
    height: 100%;
  }

  .nav_links{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .nav_ul{
      flex-direction: row;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

  }

  .nav_ul li{
  margin: 0 32px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    
  }

  .nav_ul li a:first-of-type{
    color: var(--black);
  }
  
/* main section */

main{
  width: 100%;
  min-height: 700px;
  display: grid;
  margin: 72px auto 0 auto;
  max-width: 1300px;
  grid-template-columns: 80px 200px auto;
  grid-gap: 70px;
}

.sidebar{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.sidebar .icons{
  width: 100%;
  height: 100%;
}
.sidebar .icons ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sidebar .icons ul li{
  height: 40px;
width: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin: 20px 0;
cursor: pointer;
}

.sidebar .icons ul li img{
  height: 32px;
width: 32px;

}

.sidebar .log_out{
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
  cursor: pointer;
}

.budget{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.budget .top{
  width: 100%;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: flex-start; */
}

.budget .top h1{
font-size: 32px;
font-weight: 600;
line-height: 32px;
margin: 16px 0;
text-align: left;

}

.budget .top h3{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;  
  margin: 0;
  text-align: left;
  color: var(--grey);
  }

  .budget .brands{
    margin: 40px 0;
  }

  .budget .brands .brand_title{
    min-height: 18px;
    width: 100%;    
margin: 0 0 24px 0;
  }

  .budget .brands .brand_title h1{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
       color: var(--black);

  }
  .brand_cover{
    width: 100%;
    max-width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .brand_wrapper{
    width: 100%;
    min-height: 40px;
    display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 16px;
    margin: 12px 0;
  }

  .brand_wrapper .brand_icon {
    height: 40px;
    width: 40px;
    
    border-radius: 10px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    

  }


  .brand_wrapper .brand_img{
    height: 24px;
width: 24px;
  }
  .brand_wrapper .brand_img img{
    width: 100%;
    height: 100%;
  }

  .brand_wrapper .spotify{
    background: var(--spotify);
  }
  
  .brand_wrapper .lyft{
    background: var(--lyft);
  }
  
  .brand_wrapper .amazon{
    background: var(--amazon);
  }
  
  .brand_wrapper .mcdonalds{
    background: var(--mcdonalds);
  }


  .brand_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;   
  }
  .brand_details h1{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px;
margin: 0 0 8px 0;
color: var(--black);
text-align: left;
  }

  .brand_details h1{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
color: var(--grey);
     
}

.account{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.account_top{
  max-width: 941px;
min-height: 110px;
color: var(--white);
background: var(--black);
border-radius: 10px;
padding: 25px 30px;
margin: 0 0 64px 0;
display: flex;
flex-direction: row;
align-items: flex-start ;
justify-content: flex-start;
}


.account_text{
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.account_text h1{

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
margin:  0 0 16px 0;  
}

.account_text h3{

  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px;

  text-align: left;
color: var(--grey);  
margin:  0;  
}


.account_button{

  width: 100%;
  height: 100%;
  max-width: 200px;
  display: flex;
  margin: 0 25px ;
  flex-direction: column;
  align-items: flex-start;
}

.account_button button{
  max-width: 178px;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: var(--black);
  border: 0.8px solid var(--white);
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}

.account_button button:hover{
  background: var(--white);
  color: var(--black);
}
.account_button button:focus{
  background: var(--white);
  color: var(--black);
}

.account_button button:focus .fa-arrow-right{
  color: var(--black);
}
.account_button button:hover .fa-arrow-right{
  color: var(--black);
}
.account_button .fa-arrow-right{
  color: var(--white);
  height: 18px;
  width: 18px;
  margin: 0 0 0 16px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}

.account_main_section{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 400px auto;
  grid-gap: 40px;
}

.account_left{
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.account_card{
height: 250px;
max-width: 400px;
margin: 0 0 40px 0;

}

.account_card .card_top{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: var(--black);
}

.depositing{
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.depositing .money_section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.depositing .money_section .money_wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.depositing .money_section .money_wrapper .money_title{
  min-height: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 24px 0;
}

.depositing .money_section .money_wrapper .money_title h1{
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}

.depositing .money_section .money_wrapper .money_row{
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}
.depositing .money_section .money_wrapper .money_row .money_rate{
  width: 100%;
  min-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;
}

.depositing .money_section .money_wrapper .money_row .money_rate h2{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px;
color: var(--grey);
}

.depositing .money_section .money_wrapper .money_row .money_rate h4{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--black);
  }

  .account_right{
    
  }