*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --grey: #838383;
    --spotify: #D2F2DB ;
    --lyft: #D0E1EE;
--amazon: #EFCFE4;
--mcdonalds: #D2F2DB;
--purple: #DAF3D4;
--smoke: #fafafa;
}
html{
  scroll-behavior: smooth;
  font-family: "EuclidCircularARegular";
}

@font-face {
  font-family: "EuclidCircularALight";
  src: url('../fonts/EuclidCircularA-Light.ttf') format("truetype").
  url('../fonts/EuclidCircularA-Light.woff') format("woff");
}
@font-face {
  font-family: "EuclidCircularARegular";
  src: url('../fonts/EuclidCircularA-Regular.ttf') format("truetype"),
  url('../fonts/EuclidCircularA-Regular.woff') format("woff");
}

@font-face {
  font-family: "EuclidCircularAMedium";
  src: url('../fonts/EuclidCircularA-Medium.ttf') format("truetype"),
  url('../fonts/EuclidCircularA-Medium.woff') format("woff");
}

@font-face {
  font-family: "EuclidCircularASemiBold";
  src: url('../fonts/EuclidCircularA-SemiBold.ttf') format("truetype"),
  url('../fonts/EuclidCircularA-SemiBold.woff') format("woff");
}

@font-face {
  font-family: "EuclidCircularABold";
  src: url('../fonts/EuclidCircularA-Bold.ttf') format("truetype"),
  url('../fonts/EuclidCircularA-Bold.woff') format("woff");
}

body{

    height: 100%;
    width: 100%;
    background: var(--white);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Euclid Circular A Regular";
}

/* img {
    object-position: center;
    object-fit: cover;
  } */
li{
    list-style-type: none;
}
a{
    text-decoration: none;

}

/* holo navigation bar */
  nav{
    height: 100px;
    width: 100%;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
background: var(--white);


  }

  nav .nav_container{
    height: 100px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr;
grid-gap: 40px;
padding: 10px 40px;
position: relative;
  }

  .toggle_menu{
    position: absolute;
    top: 35%;
    display: none;
    cursor: pointer;
    right: 24px;
    width: 30px;
    height: 30px;
  }
  .toggle_stack{
display: flex;
flex-direction: column;
}

.toggle_stack span{
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.toggle{
  height: 2px;
  width: 30px;
  background: var(--black);
  margin: 2px 0;

}
/* holo logo styling */
  nav .logo{
 
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
    
  }

  nav .logo .image_wrapper{
    height: 18px;
    width: 80px;
  }

  nav .logo .image_wrapper img{
    width: 100%;
    height: 100%;
  }

 

  .nav_links{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .nav_ul{
      flex-direction: row;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

  }

  .nav_ul li{
  margin: 0 32px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-family: "Euclid Circular A Medium";
    line-height: 18px;

    
  }

  .tab_active{
    color: var(--black) !important;
    position: relative !important;
  }

  .tab_active a{
    color: var(--black) !important;
   
  }
  .tab_active::after{
    height: 3px !important;
    width: 114px !important;
    bottom: -41px !important;
    left: -5px !important;
    position: absolute !important;
    content: "" !important;
    background: var(--black) !important;
  }

  .nav_ul li a{
    color: var(--grey);
    position: relative;
   
}
  .nav_ul li a::after{
    height: 3px;
    width: 114px;
    bottom: -39px;
    left: -5px;
    position: absolute;
    content: "";
    visibility: hidden;
    transform-origin: left;
    transform: scale(0);
    background: var(--black);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
}
.nav_ul li a:hover::after{
  transform: scale(1);
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
  nav .user_corner{
justify-self: flex-end;
width: 100%;
height: 100%;
max-width: 218px;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;

  }

.bell_off .fa-bell-slash{
  width: 24px;
height: 24px;
font-size: 24px;
color: var(--grey);
cursor: pointer;
}

.user_name{

height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content:center;

}

.user_name h3{

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  font-family: "Euclid Circular A Regular";
}

.user_profile .user_color{
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
align-items: center;
justify-content:center;
background: var(--lyft);
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px;

}
  
/* main section */

main{
  width: 100%;
  min-height: 700px;
  display: grid;
  margin: 72px auto 0 auto;
  max-width: 1300px;
  grid-template-columns: 0.5fr 0.5fr 8fr;
  grid-gap: 70px;
  padding: 10px 40px;

}

.sidebar{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.sidebar .icons{
  width: 100%;
  height: 100%;
}
.sidebar .icons ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sidebar .icons ul li{
  height: 40px;
width: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin: 20px 0;
cursor: pointer;
}

.sidebar .icons ul li img{
  height: 32px;
width: 32px;

}

.sidebar .log_out{
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
  cursor: pointer;
}

.fa-sign-out-alt{
  
font-size: 24px;
color: var(--grey);
}

.side_links{
  width: 100%;
  height: 300px;
  display: none;
}
.side_links ul{
  display: flex;
  flex-direction: column;

}

.side_links ul li{
  margin: 16px 0;
  font-family: Euclid Circular A;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}

.side_links ul li a{
  color: var(--black);
  opacity: 0.8;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  font-family: "EuclidCircularAMedium";
}

.side_links ul li a:hover{
  opacity: 1;
}
.budget{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.budget .top{
  width: 100%;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: flex-start; */
}

.budget .top h1{
font-size: 32px;
font-weight: 600;
line-height: 32px;
margin: 16px 0;
text-align: left;

}

.budget .top h3{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;  
  margin: 0;
  text-align: left;
  color: var(--grey);
  font-family: "EuclidCircularAMedium";
  }

  .budget .brands{
    margin: 40px 0;
  }

  .budget .brands .brand_title{
    min-height: 18px;
    width: 100%;    
margin: 0 0 24px 0;
  }

  .budget .brands .brand_title h1{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-family: "EuclidCircularAMedium";
    line-height: 18px;
    text-align: left;
       color: var(--black);

  }
  .brand_cover{
    width: 100%;
    max-width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .brand_wrapper{
    width: 100%;
    height: 40px;
    display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 16px;
    margin: 12px 0;
  }

  .brand_wrapper .brand_icon {
    height: 40px;
    width: 40px;
    
    border-radius: 10px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    

  }


  .brand_wrapper .brand_img{
    height: 24px;
width: 24px;
  }
  .brand_wrapper .brand_img img{
    width: 100%;
    height: 100%;
  }

  .brand_wrapper .spotify{
    background: var(--spotify);
  }
  
  .brand_wrapper .lyft{
    background: var(--lyft);
  }
  
  .brand_wrapper .amazon{
    background: var(--amazon);
  }
  
  .brand_wrapper .mcdonalds{
    background: var(--mcdonalds);
  }


  .brand_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;   
  }
  .brand_details h1{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px;
margin: 0 0 8px 0;
color: var(--grey);
text-align: left;
  }

  .brand_details h3{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
color: var(--black);
font-family: "EuclidCircularAMedium";
     
}

.account{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.account_top{
  max-width: 940px;
min-height: 110px;
color: var(--white);
background: var(--black);
border-radius: 10px;
padding: 25px 30px;
margin: 0 0 64px 0;
display: flex;
flex-direction: row;
align-items: flex-start ;
justify-content: flex-start;
position: relative;
overflow: hidden;
}


.account_top .card_pattern {
  position: absolute;
  height:100%;
  width: 420px;
  right: -80px;
  bottom: -20px;
  
  }
  .account_top .card_pattern img{
    height:100%;
    width: 100%;
  }
.account_text{
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 30;
}

.account_text h1{

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  font-family: "EuclidCircularAMedium";
  text-align: left;
margin:  0 0 16px 0;  
}

.account_text h3{

  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  font-family: "EuclidCircularALight";
  text-align: left;
color: var(--smoke);  
margin:  0;  
}


.account_button{

  width: 100%;
  height: 100%;
  max-width: 200px;
  display: flex;
  margin: 0 25px ;
  flex-direction: column;
  align-items: flex-start;
}

.account_button button{
  position: relative;
  z-index: 30;
  max-width: 178px;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: var(--black);
  border: 0.8px solid var(--white);
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: "EuclidCircularAMedium";
  line-height: 16px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}

.account_button button:hover{
  background: var(--white);
  color: var(--black);
}
.account_button button:focus{
  background: var(--white);
  color: var(--black);
}

.account_button button:focus .fa-arrow-right{
  color: var(--black);
}
.account_button button:hover .fa-arrow-right{
  color: var(--black);
}
.account_button .fa-arrow-right{
  color: var(--white);
  height: 18px;
  width: 18px;
  margin: 0 0 0 16px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}

.account_main_section{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 40px;
}

.account_left{

  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  /* align-items: center;
  justify-content: center; */
}

.account_card{
height: 250px;
max-width: 400px;
margin: 0 0 40px 0;

}

.account_card .card_top{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: var(--black);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  color: var(--grey);
}

.ct-vertical ~ .ct-vertical {
  stroke: none;
}
.ct-horizontal ~ .ct-horizontal {
  stroke: none;
}
.ct-labels, .ct-grids {
  display: none;
}
.ct-perfect-fourth{
  padding: 10px 24px;
  margin: 24px  0;

}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #000 !important;
}


.account_card .card_top .card_design{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.account_card .card_top .card_design h1{
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 13px;


}

.account_card .card_top .card_design .card_expiry{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.account_card .card_top .card_design .sim{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.account_card .card_top .card_design .sim img{
  margin-right: 16px;
}
.account_card .card_top .card_design .card_expiry h3{

font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 13px;
margin: 12px 0;

}
.account_card .card_top .card_design .card_expiry h4{
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  font-family: "EuclidCircularALight";
  margin: 0;
  

}
.account_card .card_pattern{
  height: 160px;
width: 150px;
right: 0;
top: 0;
position: absolute;
background: url('../assets/card_pattern.svg');
}




.depositing{
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}
.depositing .money_section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.depositing .money_section .money_wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.depositing .money_section .money_wrapper .money_title{
  min-height: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 24px 0;
}

.depositing .money_section .money_wrapper .money_title h1{
font-size: 18px;
font-style: normal;
font-weight: 500;
font-family: "EuclidCircularAMedium";
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}

.depositing .money_section .money_wrapper .money_row{
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}
.depositing .money_section .money_wrapper .money_row .money_rate{
  width: 100%;
  min-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;
}

.depositing .money_section .money_wrapper .money_row .money_rate h2{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px;
color: var(--grey);
}

.depositing .money_section .money_wrapper .money_row .money_rate h4{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  font-family: "EuclidCircularAMedium";
  color: var(--black);
  }

  .account_right{
    width: 100%;
   height: 100%;
    display: flex;
    flex-direction: column;
  }

  .account_right .expenses{
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: column;
  }

  .account_right .expenses .expense_row{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

.account_right .expenses .expense_row h1{
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 18px;


  }

  .account_right .expenses .expense_row select{
    border: none;
    height: 24px;
    width: 72px;
    outline: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    font-family: "EuclidCircularAMedium";
    appearance: none;
    -moz-appearance: none;
-webkit-appearance: none;
-ms-appearance:none;
background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
background-repeat: no-repeat;
background-size: 30%;
background-position: top 50% right 0;
}


  .account_right .expenses .expense_row select option{
    height: 14px;
    width: 100%;
    font-size: 13px;
font-style: normal;
font-weight: 500;
background: var(--spotify);
  }

  .chart_section{
    min-height: 200px;
max-width: 450px;
width: 100%;
display: grid;
grid-auto-rows: minmax(100px,auto);
grid-template-columns: repeat(2,1fr);
grid-gap: 80px;
margin: 32px 0;
  }

  .chart_section .chart_items{
    width: 100%;
 min-height: 200px;
     display: flex;
     flex-direction: column;

  } 

  .chart_section .chart_items .chart_row{
    width: 100%;
    height: 44px;
    display: grid;
  grid-template-columns: 15px auto;
  grid-gap: 16px;
    margin: 12px 0;
  }

  .chart_section .chart_cover{
min-height: 160px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
  }

  .chart_section .chart_cover canvas{
    max-width: 200px;
    width: 100%;
    height: 100%;
    max-height: 200px;
  }

  .chart_section .chart_items .chart_row .chart_color{
    height: 10px;
    width: 10px;
    display: flex;

}

.chart_section .chart_items .chart_row .chart_color .color{
  height: 10px;
  width: 10px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.chart_color .chart_black{
  background: var(--black);
}

.chart_color .chart_blue{
  background: var(--lyft);
}
.chart_color .chart_purple{
  background: var(--purple);
}


.chart_item_text{
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.chart_item_text h3{

  width: 100%;
  height: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: "EuclidCircularAMedium";

  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
margin:  0 0 8px 0;  
}

.chart_item_text h4{

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: "EuclidCircularAMedium";
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  
color: var(--grey);  
margin:  0;  
}
.chart_spending{
  width: 100%;
  min-height: 200px;
   display: flex;
   flex-direction: column;
}

.chart_spending .spending_title{
  height: 18px;
max-width: 130px;
width: 100%;

}

.chart_spending .spending_title h1{
  font-family: "EuclidCircularAMedium";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}

.chart_spending .spending_chart{
  min-height: 220px;
max-width: 440px;
width: 100%;

}

.chart_spending .spending_month{
  height: 16px;
max-width: 449px;
width: 100%;
}

.chart_spending .spending_month ul{
  width: 100%;
  height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.chart_spending .spending_month ul li{
  font-family: "EuclidCircularAMedium";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: var(--grey);
}

@media only screen and (max-width: 1200px){
  .account_main_section{
   
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .chart_section{
    min-height: 200px;
    max-width: 400px;
width: 100%;
display: grid;
grid-template-columns: repeat(1,1fr);
grid-gap: 80px;
margin: 32px 0;
  }

  .account_button button{
    max-width: 178px;
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--black);
    background: var(--white);
    border: 0.8px solid var(--black);
    margin: 16px 0;
    border-radius: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    font-family: "EuclidCircularAMedium";
    line-height: 16px;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
  .account_button button:hover{
    background: var(--black);
    color: var(--white);
    
  }
  .account_button button:focus{
    background: var(--black);
    color: var(--white);
  }
  .chart_section .chart_cover{
   min-height: 300px;
      }
  .account_button button:focus .fa-arrow-right{
    color: var(--white);
  }
  .account_button button:hover .fa-arrow-right{
    color: var(--white);
  }
  .account_button .fa-arrow-right{
    color: var(--black);
    height: 18px;
    width: 18px;
    margin: 0 0 0 16px;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
  }
  
}

@media only screen and (max-width: 1000px){

  .account_main_section{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 40px;
  }

  .nav_links{
   display: none;

  }
  .side_links{
    display: block;
  }

  nav .user_corner{
    position: absolute;
justify-content: center;
top: -5px;
right: 0;
  }
  .user_profile .user_color{
    margin: 0 0 0 16px;
  }
  nav .user_name{
    display: none;
  }
  .toggle_menu{
    display: block;
    z-index: 500;
  }
}


@media only screen and (max-width: 800px){
  main{
    width: 100%;
    min-height: 700px;
    display: grid;
    margin: 72px auto 0 auto;
    max-width: 1300px;
    grid-template-columns: 1fr 8fr;
    grid-gap: 40px;
   
  }
  .sidebar{
  width: 100%;
  min-height: 600px;
  /*display: none;
  flex-direction: column;
  */justify-content: center;
  align-items: flex-start;
  position: fixed;
  padding: 35px 40px;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 400;
  transition: 0.3s ease-in;
  background: var(--white);
  transform: translateX(-1000px);
  -webkit-transform: translateX(-1000px);
  -moz-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  -o-transform: translateX(-1000px);
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.sidebar .icons{
  height: 400px;
  margin-top: 40px;
}
.tog .line1{
  transform: rotate(-45deg) translate(-5px,6px);
  -webkit-transform: rotate(-45deg) translate(-5px,6px);
  -moz-transform: rotate(-45deg) translate(-5px,6px);
  -ms-transform: rotate(-45deg) translate(-5px,6px);
  -o-transform: rotate(-45deg) translate(-5px,6px);
}
.tog .line2{
opacity: 0;
}

.account_top .card_pattern {
  position: absolute;
  height: 140px;
  width: 420px;
  right: -80px;
  bottom: 0;
  
  }



.tog .line3{
  transform: rotate(45deg) translate(-5px,-6px);
  -webkit-transform: rotate(45deg) translate(-5px,-6px);
  -moz-transform: rotate(45deg) translate(-5px,-6px);
  -ms-transform: rotate(45deg) translate(-5px,-6px);
  -o-transform: rotate(45deg) translate(-5px,-6px);
}

.nav_active{
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
  nav .logo{
 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

     
   }
   .chart_section{
    min-height: 300px;
max-width: 400px;
width: 100%;
display: grid;
grid-template-columns: repeat(1,1fr);
grid-gap: 16px;
margin: 24px 0;
  }
   
.account_text h1{


  text-align: center;

}

.account_left{

  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 300px;

}

.account_card .card_pattern{

width: 130px;

}


.account_text h3{

  text-align: center;
margin:  0 0 16px 0;  
}

}

@media only screen and (max-width: 650px){
  main{
    width: 100%;
    min-height: 700px;
    display: grid;
    margin: 72px auto 0 auto;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 32px;
    grid-template-areas: "account"
    "budget";

  }
  .account{
    grid-area: account;
  }

  .budget{
    grid-area: budget;
   min-height: 500px;
   height: 100%;
  }
  .chart_section .chart_cover canvas{
    max-width: 200px;
    width: 100%;
    max-height: 200px;
  }
}


@media only screen and (max-width: 500px){
  .account_top{
  min-height: 200px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;

  }

  .account_card .card_pattern{

    width: 110px;
    
    }
    
    
}
